@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display+SC&family=Quicksand&display=swap');

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

:root {
  --header-text: 'Playfair Display SC', serif;
  --dark-green: #002B17;
  --med-green: #11A611;
  --light-green: #44BD09;
  --very-light-green: #B1FFAD;
  --bar-light-green: #d7fdd5;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background_color {
  background: var(--dark-green);
  height: 100%;
  border: 1px solid var(--dark-green);
}

.main_text {
  font-family: 'Quicksand', sans-serif;
}

.header_text {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
}

.cart-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}
.cart-container{
  height: 100vh;
  width: 600px;
  background-color: var(--bar-light-green);
  float: right;
  padding: 40px 10px;
  position: relative;
  
}

.cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading{
  margin-left: 10px;
}
.cart-num-items{
  margin-left: 10px;
  color: var(--dark-green);
}
.empty-cart{
  margin:40px;
  text-align:center;
}
.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}
.product-container{
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product{
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image{
  width:180px ;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;

}

.quantity-desc{
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  padding: 6px;
}
.quantity-desc span{
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus{
  border-right: 1px solid gray;
  color: #f02d34;
  margin-top: auto;
  margin-bottom: auto;
}
.quantity-desc .num{
  border-right: 1px solid gray;
  font-size: 20px;
}
.quantity-desc .plus{
  color: rgb(49, 168, 49);
  margin-top: auto;
  margin-bottom: auto;

}

.cart-bottom{
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;

}

.product .cart-product-image{
  width: 25%;
  height: 25%;
}

.item-desc .bottom{
  margin-top: 60px;
}

.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
   color: #324d67;
}

.flex h5{
  font-size: 24px;
}

.flex h4{
  font-size: 20px;
}

.total h3{
  font-size: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.width_ninety {
  width: 90%;
}

.long_link {
  font-family: 'Quicksand', sans-serif;

}

@media screen and (max-width: 685px) {
  .long_link {
    font-size: 14px;
  }
}

.footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

/* .footer_line {
  border-top: 1px solid white;
  width: 30.5%;
} */

.copyright {
  border-top: 1px solid white;
  width: 21.5%;
  margin-left: auto;
  margin-right: auto;
}
